/* Main Stylesheet */


/* Global */

body {
  background: darkgrey;
}

img: {
  width:
}


/* Navigation */

nav a {
  text-transform: uppercase;
  color: blue;
  text-decoration: none;
}


/* Typography */


/* Homepage */


/* Bio */


/* Resume */


/* Portfolio */


/* Footer */


